$desktop-body-color-1: aliceblue;
$desktop-body-color-2:  rgb(245, 245, 247);
$desktop-header-bg-color: #C7DCF6;
$btn-color: #C7DCF6;
$btn-accent-color: #28599e;
$color-black: #111;
$box-shadow-color:  rgba(0, 0, 0, 0.1) 0px 4px 8px, rgba(0, 0, 0, 0.1) 0px 6px 20px;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);