<footer class="footer">
    <div class="container">
        <h2 class="footer__title">CONTACT INFORMATION</h2>
        <ul class="social__list">
            <li class="social__item">
                <a class="social__link" href="https://t.me/AleksandroVvvV" target="_blank">
                    <svg class="social__icon">
                        <use href="./images/symbol-defs.svg#icon-telegram">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="https://github.com/Sinat1" target="_blank">
                    <svg class="social__icon">
                        <use href=./images/symbol-defs.svg#icon-github></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a href="https://www.linkedin.com/in/vitalii-aleksandrovv/" target="_blank">
                    <svg class="social__icon">
                        <use href=./images/symbol-defs.svg#icon-linkedin></use>
                    </svg>
                </a>
            </li>
        </ul>

        <ul class="contacts__list">
            <li class="contacts__item">
                <a class="contacts__link" href="tel:+380661560361">
                    <svg class="contacts__icon">
                        <use href="./images/sprite.svg#icon-phone"></use>
                    </svg>
                    +380 (66) 156-03-61</a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link" href="https://maps.app.goo.gl/LhQVH5FJ5vA36Mfn8" target="_blank">
                    <svg class="contacts__icon">
                        <use href="./images/sprite.svg#icon-location"></use>
                    </svg>
                      Kyiv, Ukraine, 2025</a>
            </li>
            <li class="contacts__item">
                <a class="contacts__link" href="mailto:sinati0508@gmail.com">
                    <svg class="contacts__icon">
                        <use href="./images/sprite.svg#icon-mail"></use>
                    </svg>
                    sinati0508@gmail.com</a>
            </li>
        </ul>
    </div>
    <button id="scrollToTopBtn" title="Go to top">
        <svg class="scroll-btn">
            <use href="./images/sprite.svg#icon-up"></use>
        </svg>
      </button>
</footer>