<header class="header">
  <div class="container">
    <nav id="nav" class="nav" data-menu>
      <div class="nav__container">
        <a class="logo" href="./index.html">LOGO</a>
        <!-- <button
          class="nav__btn nav__menu-btn"
          aria-expanded="false"
          aria-controls="nav"
          data-menu-button
        >
          <svg class="nav__menu-icon" aria-label="Mobile menu">
            <use
              class="nav__icon--menu"
              href="./images/sprite.svg#icon-menu"
            ></use>
            <use
              class="nav__icon--close"
              href="./images/sprite.svg#icon-close"
            ></use>
          </svg>
        </button> -->
        <ul class="pages nav__pages">
          <li class="pages__item">
            <a
              class="pages__link pages__link--chips"
              href="#about-me"
              data-menu-link
              >About me</a
            >
          </li>
          <li class="pages__item">
            <a
              class="pages__link pages__link--chocolate"
              href="#project-exp"
              data-menu-link
              >Project experience</a
            >
          </li>
          <li class="pages__item">
            <a
              class="pages__link pages__link--stripes"
              href="#work-exp"
              data-menu-link
              >Work experience</a
            >
          </li>
          <li class="pages__item">
            <a
              class="pages__link pages__link--white"
              href="#education"
              data-menu-link
              >Education</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <a class="scroll-up" href="#">
    <svg class="scroll-up__icon">
      <use href="./images/sprite.svg#icon-up"></use>
    </svg>
  </a>
</header>
