<section class="hero">
    <div class="container">
        <div class="hero__wrapper">
            <img class="hero__photo" src="./images/my-photo.jpg" alt="CV photo">
            <h1 class="hero__title">VITALII ALEKSANDROV</h1>
            <h2 class="hero__subtitle">JUNIOR FRONTEND DEVELOPER</h2>
            <p class="hero__text">
                I am a Junior Frontend Developer focused on HTML5, CSS3, JS and React. I have a great desire to learn 
                and develop in this sphere as well as creating and inventing something new to make my own contribution in innovative industry growth. 
                That is why I am looking for a company with common goals that's aimed at making both everyday life and business more productive and user-friendly. 
                I am fast-learner seeking for upgrowth, responsible and ready for challenging tasks.
            </p>
            <button id="download-btn" class="hero__btn">Download CV</button>
        </div>
    </div>
</section>