<section id="project-exp" class="project-exp">
    <div class="container">
<div class="project-exp__wrapper">
<ul class="project-exp__list">
<li class="project-exp__item">
    <a class="project-exp__link" href="https://sinat1.github.io/goit-markup-hw-08/index.html" target="_blank">
        <div class="project-exp__thumb">
          <img
            src="./images/webstudio.jpg"
            alt="WebStudio picture"
          />
          <div class="project-exp__overlay">
            <p class="project-exp__thumb-text">
                A website with a responsive layout. <br> 
                Role: solo project. <br>
                Build project on github, check for build errors and live page performance.
            </p>
          </div>
        </div>
        <div class="project-exp__product project-exp__product--extended">
          <h2 class="project-exp__product-name">WebStudio</h2>
          <p class="project-exp__product-text">[HTML, SASS, JS, Parcel]</p>
        </div>
      </a>
</li>
<li class="project-exp__item">
    <a class="project-exp__link" href="https://sinat1.github.io/donut-master-class/" target="_blank">
        <div class="project-exp__thumb">
          <img
            src="./images/donuts.webp"
            alt="Donuts"
          />
          <div class="project-exp__overlay">
            <p class="project-exp__thumb-text">
                A website with a responsive layout. <br>
                Role: Team Lead. <br>
                Build project on Github, check for build errors and live page performance,
                 set up a repository, add pictures for each screen size,
                  add mixins and variables.
            </p>
          </div>
        </div>
        <div class="project-exp__product project-exp__product--extended">
          <h2 class="project-exp__product-name">Donut Masterclass</h2>
          <p class="project-exp__product-text">[HTML, SASS, JS, Parcel]</p>
        </div>
      </a>
</li>
<li class="project-exp__item">
    <a class="project-exp__link" href="https://kristina-salnyk.github.io/filmoteka/" target="_blank">
        <div class="project-exp__thumb">
          <img
            src="./images/filmoteka.jpg"
            alt="Filmoteka"
          />
          <div class="project-exp__overlay">
            <p class="project-exp__thumb-text">
                Application where you can find out about new trending movies,
                find a specific movie, watch it's trailer,
                add a particular film in "queue" or "watched" list.<br>
                Role: Developer. <br>
                Make modal window with all team-members using swiperjs.
                Make processing of photos of team members for screens 
                with different pixel density.
            </p>
          </div>
        </div>
        <div class="project-exp__product project-exp__product--extended">
          <h2 class="project-exp__product-name">Filmoteka</h2>
          <p class="project-exp__product-text">[HTML, SASS, JS, Handlebars, REST API, AJAX, Parcel]</p>
        </div>
      </a>
</li>
<li class="project-exp__item">
    <a class="project-exp__link" href="https://sinat1.github.io/donut-master-class/" target="_blank">
        <div class="project-exp__thumb">
          <img
            src="./images/donuts.webp"
            alt="Donuts"
          />
          <div class="project-exp__overlay">
            <p class="project-exp__thumb-text">
                A website with a responsive layout. <br>
                Role: Team Lead. <br>
                Build project on Github, check for build errors and live page performance,
                 set up a repository, add pictures for each screen size,
                  add mixins and variables.
            </p>
          </div>
        </div>
        <div class="project-exp__product project-exp__product--extended">
          <h2 class="project-exp__product-name">Donut Masterclass</h2>
          <p class="project-exp__product-text">[HTML, SASS, JS, Parcel]</p>
        </div>
      </a>
</li>
</ul>
</div>
    </div>
</section>