<section id="skills" class="skills">
  <div class="container">
    <div class="skills__group">
      <h3 class="skills__title">TECH SKILLS</h3>
      <ul class="skills__list">
        <li class="skills__item"><i class="fab fa-html5"> HTML5</i></li>
        <li class="skills__item"><i class="fab fa-css3"> CSS3</i></li>
        <li class="skills__item"><i class="fab fa-sass"> SASS</i></li>
        <li class="skills__item">
          <i class="fas fa-mobile-alt"> Responsive design</i>
        </li>
        <li class="skills__item"><i class="fab fa-git-alt"> GIT</i></li>
        <li class="skills__item">
          <i class="fab fa-js-square"> JavaScript</i>
        </li>
        <li class="skills__item"><i class="fab fa-react"> React</i></li>
        <li class="skills__item"><i class="fas fa-sync"> Redux</i></li>
        <li class="skills__item"><i class="fas fa-cloud"> REST API</i></li>
        <li class="skills__item"><i class="fas fa-code"> Handlebars</i></li>
        <li class="skills__item"><i class="fas fa-cogs"> Webpack</i></li>
        <li class="skills__item"><i class="fas fa-box"> Parcel</i></li>
      </ul>
    </div>

    <div class="skills__group">
      <h3 class="skills__title">SOFT SKILLS</h3>
      <ul class="skills__list">
        <li class="skills__item">
          <i class="fas fa-search"> Attention to details</i>
        </li>
        <li class="skills__item"><i class="fas fa-users"> Teamwork</i></li>
        <li class="skills__item">
          <i class="fas fa-lightbulb"> Creativity</i>
        </li>
        <li class="skills__item">
          <i class="fas fa-comments"> Good communication</i>
        </li>
      </ul>
    </div>

    <div class="skills__group">
      <h3 class="skills__title">LANGUAGES</h3>
      <ul class="skills__list">
        <li class="skills__item">
          <i class="fas fa-language"> English - Upper-Intermediate</i>
        </li>
        <li class="skills__item">
          <i class="fas fa-language"> Ukrainian - Native</i>
        </li>
        <li class="skills__item">
          <i class="fas fa-language"> Russian - Fluent</i>
        </li>
      </ul>
    </div>
  </div>
</section>
