<section id="work-exp" class="work-exp">
    <div class="container">
        <div class="work-exp__block">
            <h2 class="work-exp__title">WORK EXPERIENCE</h2>
            <div class="work-exp__textblock">
                <img class="work-exp__img" src="./images/omd-logo.png" alt="OMD logo">
                <div>
                    <h3 style="margin-bottom: 10;">Junior Strategic Planner OMD Optimum Media, Kyiv UA</h3>
                   <p>February 2021 - January 2024 | Ukraine </p> 
                    <p class="work-exp__text">Created media strategies under the guidance of senior colleagues. 
                        Assisted senior colleagues with certain parts of their work requests.
                        Took responsibility for generating ideas for the implementation of certain tasks during teamwork.
                        Searched insights to understand how audiences will contribute to achieving the overall
                        business goals. <br>
                        Achievement: I've created a strategy after which client received the category's leading sales level.</p>
                </div>

            </div>    
        </div>
    </div>
</section>