.footer {
    background-color: #2f303a;
    padding: 30px;
    height: 300px;

}

.footer__title {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
}

.social__list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin: 55px auto;

   
}

.social__item {
    margin-right: 30px;
    &:last-child {
        margin-right: 0;
    }
}

.social__link {
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
}

.social__icon {
      fill: #fff;
   width: 60px;
   height: 60px;
   transition: fill $timing-function,
    transform $timing-function;


   &:hover, &:focus {
    fill: #C7DCF6;
    transform: scale(1.03);
   }
   
}

.contacts__list {
    display: flex;
    justify-content: space-between;
}

.contacts__link {
    display: flex;
    align-items: center;
    color: #fff;
    height: 50px;
    transition: transform $timing-function;

    &:hover, &:focus {
        transform: scale(1.03);
       }
}



.contacts__icon {
    fill: #fff;
    width: 15px;
    margin-right: 5px;
    height: 20px;

}

#scrollToTopBtn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    animation: float 2.5s ease-in-out infinite;
  }
  
  #scrollToTopBtn.show {
    opacity: 1;
    visibility: visible;
  }
  
  #scrollToTopBtn:hover {
    background-color: $btn-accent-color;
  }

  @keyframes float {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-6px); }
    100% { transform: translateY(0px); }
  }

  .scroll-btn {
    width: 50px;
    height: 50px;
    fill:#fff;
  }